/* body {
  font-size: 20px;
  color: #2f3b4c;
  background-color: #f9f9f9;
  transition: 300ms all ease-out;
}

body.theme-dark {
  background-color: #1e1e1e;
  color: #fff;
}

body:before {
  background-image: none;
}

.theme-change-button {
  font-size: 12px;
  width: auto;
  color: initial;
  background-color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

body.theme-dark .theme-change-button {
  background-color: #1e1e1e;
  color: #fff;
}

h1 {
  font-size: 26px;
  line-height: 1.5;
  border-bottom: 1px solid #2f3b4c;
  text-align: left;
  transition: 300ms border-bottom-color ease-out;
}

body.theme-dark h1 {
  border-bottom-color: white;
}

main {
  height: auto;
  background-color: transparent;
  border-radius: 0;
  max-width: 900px;
}
 */

 /* .modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .inner {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  display: block;
  width: 960px;
  height: 540px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
  font-size: 1.5rem;
  animation: fadeInAnimation 200ms ease-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* #weather strong {
  color: #d03939;
} */

/* h1 {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  font-weight: bold;
}

main {
  padding: 10px;
}

.section-wrapper {
  display: flex;
}

section {
  width: calc(100% / 3);
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  text-transform: none;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background-color: #2673a6;
}

.button:hover {
  background-color: #2688bc;
}

.button:active {
  background-color: #265c8f;
}

.button + .content {
  display: none;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
  text-align: left;
  color: white;
}

.button + .content.show {
  display: block;
}

.button + .content h2 {
  font-size: 22px;
}

.button + .content dt {
  margin-bottom: 10px;
}

.button + .content dl,
.button + .content dt,
.button + .content dd {
  margin: 0;
} */

#box {
  width: 100px;
  height: 100px;
}

.red {
  background: #ff2bc2;
}
